<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>CloudCal</title>
    <meta content="IE=edge" http-equiv="x-ua-compatible">
    <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="all" rel="stylesheet" type="text/css">

    <link href="assets/css/keyframes.css" rel="stylesheet" type="text/css">
    <link href="assets/css/materialize.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/swiper.css" rel="stylesheet" type="text/css">
    <link href="assets/css/swipebox.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="m-scene" id="main">
      {{#block "content"}}
      {{/block}}
    </div>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Sync with Google Calendar</h4><br>
        <a href="#!" class="full-width modal-action modal-close waves-effect waves-green btn-large" onclick="handleAuthClick(event)">Login with Google</a>
      </div>
    </div>
  </body>
</html>
